@import url('https://fonts.googleapis.com/css?family=Geo');
@import url('https://fonts.googleapis.com/css?family=Poppins');

.app-box {
  display: flex;
  display: -webkit-flex;
  flex-basis: 100%;
  -webkit-flex-direction: column;
  flex-direction: column;
  /* font-family: 'Geo', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

.tree-box {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.app-header {
  display: flex;
  display: -webkit-flex;
  flex-basis: 100%;
  background-color: #2e2e2e;
  color: white;
  font-family: 'Geo', sans-serif;
  align-items: center;
  font-size: 34px;
  height: 40px;
}

.app-title {
  margin-left: 2%;
}

.data-box {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  justify-content: center;
  font-size: 12px;
  align-items: center;
}

.spinner-box {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #505050;
}

.top-50 {
  margin-top: 50px;
}
.spinner-text {
  margin-bottom: 30px;
}

.txs-length {
  color: #03a9f4;
}

.merkle-root-box {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  width: 100%;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.root-proof-box {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  width: 100%;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.merkle-root {
  text-align: center;
  font-size: 30px;
  margin-top: 12px;
}

.merkle-root-text {
  color: #707070;
}

/* .merkle-root-text:hover {
  cursor: pointer;
  opacity: 0.7;
} */

.merkle-root-proof {
  text-align: center;
  font-size: 28px;
  height: 32px;
  margin-top: 3px;
}

.proof-true {
  color: green;
}

.proof-false {
  color: red;
}

.btc-summary-info-box {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
  margin-top: 15px;
}

.proof-text {
  padding-left: 3px;
}

.tx-details-box {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 94%;
}

.tx-details {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

.tx-raw {
  height: 28px;
  font-size: 24px;
  border-top: 2px dashed #404040;
  padding: 15px 125px 0px 125px;
}

.tx-proof {
  height: 28px;
  font-size: 24px;
}

.btn-blue {
  padding: 12px 24px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #1976d2;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

.btn-blue:hover,
.btn-blue:focus {
  background-color: #1e88e5;
  cursor: pointer;
}

.btn-blue:active {
  background-color: rgba(236, 240, 241, 0.3);
  color: #1e88e5;
}

.prove-merkle-root {
  margin-top: 15px;
}

.btn {
  padding: 12px 24px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #2ecc71;
  color: #ecf0f1;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: #27ae60;
  cursor: pointer;
}

.btn:active {
  background-color: rgba(236, 240, 241, 0.3);
  color: #2ecc71;
}

.prove-merkle-root {
  margin-top: 15px;
}

.tx-root-proof {
  margin-top: 10px;
}
