.block-details {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  flex-basis: auto;
}

.block-details-box {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 98%;
  margin-top: 15px;
  background-color: #eceff1;
  padding: 15px 0px;
  border-radius: 5px;
}

.block-text {
  color: #707070;
  font-family: 'Geo', sans-serif;
  font-size: 28px;
}

@media screen and (max-width: 1350px) {
  .block-text {
    font-size: 24px;
  }
  .block-text-title--details {
    font-size: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .block-details {
    align-items: center;
  }
  .block-details-box {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .text--hash {
    font-size: 21px;
  }
}

@media screen and (max-width: 700px) {
  .text--hash {
    font-size: 19px;
  }
}

@media screen and (max-width: 600px) {
  .text--hash {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .text--hash {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .text--hash {
    font-size: 12px;
  }
}
