.tree-level {
  display: flex;
  display: -webkit-flex;
  width: 98%;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
  /* background-color: gainsboro; */
  padding: 10px 10px;
  border-radius: 3px;
}

.level-0 {
  background-color: #f0f0f0;
}

.level-1 {
  background-color: #e8e8e8;
}

.level-2 {
  background-color: #e0e0e0;
}

.level-3 {
  background-color: #d8d8d8;
}

.level-4 {
  background-color: #d0d0d0;
}

.level-5 {
  background-color: #c8c8c8;
}

.level-6 {
  background-color: #c0c0c0;
}

.level-7 {
  background-color: #b8b8b8;
}

.level-8 {
  background-color: #b0b0b0;
}

.level-9 {
  background-color: #a8a8a8;
}

.level-10 {
  background-color: #a0a0a0;
}

.level-11 {
  background-color: #989898;
}

.level-12 {
  background-color: #909090;
}

.level-13 {
  background-color: #888888;
}

.level-14 {
  background-color: #808080;
}
