.data-box {
  display: flex;
  display: -webkit-flex;
  -webkit`x-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 50px;
  border-top: 2px dashed #404040;
}

.tree-box {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1350px) {
  .text--hash {
    font-size: 24px;
  }
  .data-box {
    padding: 15px 35px;
  }
}

@media screen and (max-width: 800px) {
  .text--hash {
    font-size: 21px;
  }
}

@media screen and (max-width: 700px) {
  .text--hash {
    font-size: 19px;
  }
}

@media screen and (max-width: 600px) {
  .text--hash {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .text--hash {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .text--hash {
    font-size: 12px;
  }
  .data-box {
    padding: 15px 0px;
  }
}
